.product{
    display: flex;
    border-bottom: 1px solid lightgray;
}
.productDetails {
    padding: 20px 0px 20px 20px;
}
.productImg {
    padding: 10px 10px 10px 0px;
}
.mainButton {
    width: 150px;
    background-color: #221f1f;
    color: white;
    border: 1px solid orange;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    transition: 0.6s;
}
.mainButton:hover{
    background-color: orange;
    color: black;
}